:root {
  --default-font: "Poppins", serif;
  --heading-font: "Playfair Display", serif;
  --heading-font-weight: 700;
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  --text-shadow: 1px 1px 0 #00000025, 1px 1px 0 #00000025, 1px 1px 0 #00000025,
    1px 1px 0 #00000025;
  --primary-link-color: #e03662;
  --first-bg-color: #fff3ff;
  --second-bg-color: #ffede2;
  --third-bg-color: #ffffe4;
  --first-neon-color: #f94090;
  --second-neon-color: #ff5e00;
  --third-neon-color: #ffff33;
}
body {
  font-family: var(--default-font);
}

.navigation-bar{
  background-color: #fec9e9e8;
}
nav a {
  text-decoration: none;
}
.logo-border {
  border: 2px solid transparent;
  border-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border-image-slice: 1;
  padding: 12px;
  margin: 13px 0;
  background-color: #fbe2fa;
  transition: all ease-in-out 500ms;
}
.logo-border:hover {
  cursor: pointer;
  transform: scale(1.1) rotateZ(180deg);
}
.logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  background: linear-gradient(#ff5858 50%, #ff7300 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 500ms;
}
.logo-border:hover > .logo {
  transform: rotateZ(-360deg);
}
.nav-menu {
  margin-top: 14px;
}
.nav-item{
  list-style: none;
  padding: 10px 30px;
  color: var(--primary-link-color);
}
.nav-link {
  color: #000000;
  transition: all ease-in-out 150ms;
}
.nav-link:hover{
  color: var(--primary-link-color);
  text-decoration: dotted overline;
}
.nav-link.current {
  color: var(--primary-link-color);
}

.above-heading {
  font-weight: var(--heading-font-weight);
  opacity: 0.95;
}
.top-section h1 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
}
h2 {
  font-weight: 500;
}
.links {
  font-size: 18px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transition: all ease-in-out 400ms;
}
.primary-link {
  background-color: var(--primary-link-color);
  color: white;
}
.primary-link:hover {
  background-color: white;
  outline: 1px solid var(--primary-link-color);
  color: var(--primary-link-color);
}

.homepage .top-section,
.contact .top-section {
  background-color: #f148e92e;
}
.homepage .top-section h2 {
  font-weight: 400;
}
.homepage .primary-link:hover {
  text-shadow: var(--text-shadow);
}
.grid-title {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.7;
  font-style: italic;
}
.first-project,
.second-project,
.third-project {
  box-shadow: var(--box-shadow);
}
img {
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.project-description {
  text-align: left;
  padding: 80px 20px;
}
.project-description p {
  font-size: 18px;
  opacity: 0.8;
}
.project-description a {
  color: white;
  text-shadow: var(--text-shadow);
}
.first-img-wrapper {
  background-color: var(--first-bg-color);
}
.first-project a {
  background-color: var(--first-neon-color);
}
.first-project a:hover {
  outline: 1px solid var(--first-neon-color);
  color: var(--first-neon-color);
  background-color: var(--first-bg-color);
}
.first-project .color-tab {
  border-right: 35px solid var(--first-neon-color);
  transition: all ease-in-out 600ms;
}
.second-img-wrapper {
  background-color: var(--second-bg-color);
}
.second-project a {
  background-color: var(--second-neon-color);
}
.second-project a:hover {
  background-color: var(--second-bg-color);
  outline: 1px solid var(--second-neon-color);
  color: var(--second-neon-color);
}
.second-project .color-tab {
  border-left: 35px solid var(--second-neon-color);
  transition: all ease-in-out 600ms;
}
.third-img-wrapper {
  background-color: var(--third-bg-color);
}
.third-project a {
  background-color: var(--third-neon-color);
}
.third-project a:hover {
  background-color: var(--third-bg-color);
  outline: 1px solid var(--third-neon-color);
  color: #efef00;
}
.third-project .color-tab {
  border-right: 35px solid var(--third-neon-color);
  transition: all ease-in-out 600ms;
}

.about {
  background: linear-gradient(to top, #fdcbf18c 0%, #fdcbf181 1%, #e6dee9 100%);
  background-size: 100%;
}
.column {
  padding: 20px 10px;
}
.about img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.work img {
  margin: 20px 3px;
  width: 330px;
  height: 330px;
}
.work h2 {
  line-height: 1.8;
  font-weight: var(--heading-font-weight);
}

.contact main {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.contact a {
  text-decoration: none;
  color: #000000;
}
.icon-wrapper {
  transform: rotateZ(-45deg);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all ease-in-out 300ms;
}
.social-icons {
  display: block;
  transform: rotateZ(45deg);
  line-height: 100px;
  font-size: 40px;
  color: #000000;
  transition: all ease-in-out 1000ms;
}
.icon-wrapper:hover {
  transform: rotateZ(360deg);
  margin-top: 20px;
}
.icon-wrapper:hover > .social-icons {
  transform: none;
}
.text-link {
  transition: all ease-in-out500ms;
}
.text-link:hover {
  text-shadow: var(--text-shadow);
}
.first-link:hover {
  color: var(--first-neon-color);
}
.second-link:hover {
  color: var(--second-neon-color);
}
.third-link:hover {
  color: var(--third-neon-color);
}

@media (min-width: 1200px) {
  .about img {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 992px) {
  .top-section {
    padding: 160px 20px;
  }
  .above-heading {
    font-size: 36px;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 24px;
  }

  .homepage h1 {
    font-size: 96px;
  }
  .homepage img {
    width: 400px;
    height: 400px;
  }
  .project-description h2 {
    font-size: 64px;
  }
  .first-project:hover > .color-tab {
    border-right: 55px solid var(--first-neon-color);
  }
  .second-project:hover > .color-tab {
    border-left: 55px solid var(--second-neon-color);
  }
  .third-project:hover > .color-tab {
    border-right: 55px solid var(--third-neon-color);
  }

  .about .above-heading {
    font-size: 25px;
  }
  .about img {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 991.5px) {
  .top-section {
    text-align: center;
    padding: 120px 20px 80px;
  }
  .above-heading {
    font-size: 22px;
  }
  h1 {
    font-size: 50px;
  }
  .content h2 {
    font-size: 18px;
  }

  .homepage .above-heading {
    font-size: 28px;
  }
  .homepage h1 {
    font-size: 65px;
  }
  .homepage h2 {
    font-size: 20px;
  }
  .project-description {
    text-align: center;
  }
  .project-description h2 {
    font-size: 48px;
  }
  .first-project:hover > .color-tab {
    border-right: 45px solid var(--first-neon-color);
  }
  .second-project:hover > .color-tab {
    border-left: 45px solid var(--second-neon-color);
  }
  .third-project:hover > .color-tab {
    border-right: 45px solid var(--third-neon-color);
  }

  .about img {
    margin-top: 30px;
    width: 450px;
    height: 450px;
  }

  .work p {
    font-size: 14px;
  }
}

@media (max-width: 510px) {
  .homepage h1 {
    font-size: 55px;
  }
  .project-description {
    padding: 40px 20px;
  }
  .project-description h2 {
    font-size: 38px;
  }

  .about img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  h1,
  .homepage h1 {
    font-size: 44px;
  }

  .about img {
    display: none;
  }

  .work img {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
}