* {
  box-sizing: border-box;
}

:root {
  --default-font: "Poppins", serif;
  --heading-font: "Playfair Display", serif;
  --heading-font-weight: 700;
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  --text-shadow: 1px 1px 0 #00000025, 1px 1px 0 #00000025, 1px 1px 0 #00000025,
    1px 1px 0 #00000025;
  --gray-text-shadow: 1px 1px 0 #e8e8e825, 1px 1px 0 #e8e8e825,
    1px 1px 0 #e8e8e825, 1px 1px 0 #e8e8e825;
  --white-text-shadow: 1px 1px 0 white, 1px 1px 0 white, 1px 1px 0 white,
    1px 1px 0 white;
  --primary-link-color: #e03662;
  --primary-bg-color: #fdedfb;
  --secondary-bg-color: rgba(251, 212, 236, 0.944);
  --first-bg-color: #fff3ff;
  --second-bg-color: #ffede2;
  --third-bg-color: #fbf7e4;
  --first-neon-color: #f94090;
  --second-neon-color: #ff5e00;
  --third-neon-color: #fed700;
  --highlight-text: rgb(179 2 31);
  --common-transition: all ease-in-out 600ms;
}

body {
  font-family: var(--default-font);
}

.hidden {
  display: none;
}

.navigation-bar {
  background-color: var(--secondary-bg-color);
}
.nav-content-wrapper {
  margin: 13px 0;
}
nav a {
  text-decoration: none;
}
.logo-border {
  border: 2px solid transparent;
  border-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border-image-slice: 1;
  padding: 12px;
  align-content: center;
  background-color: #fbe2fa;
  transition: all ease-in-out 800ms;
}
.logo-border:hover {
  cursor: pointer;
  transform: scale(1.1) rotateZ(180deg);
}
.logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  background: linear-gradient(#ff5858 50%, #ff7300 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 900ms;
}
.logo-border:hover > .logo {
  transform: rotateZ(-360deg);
}
.nav-item {
  list-style: none;
  padding: 10px 30px;
  color: var(--primary-link-color);
}
.nav-item.last {
  padding-right: 10px;
}
.nav-link {
  color: #000000;
  transition: all ease-in-out 150ms;
}
.nav-link:hover,
.nav-link:focus-visible {
  color: var(--primary-link-color);
  text-decoration: dotted overline;
}
.nav-link.current {
  color: var(--highlight-text);
  font-weight: 500;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding-top: 9px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border: 1px solid #00000022;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.079);
}

.above-heading {
  font-weight: var(--heading-font-weight);
  opacity: 0.95;
}
.top-section h1 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
}
.links {
  font-size: 18px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transition: all ease-in-out 400ms;
}
.primary-link {
  background-color: var(--primary-link-color);
  color: black;
}
.primary-link:hover,
.projects a:hover,
.primary-link:focus-visible,
.projects a:focus-visible {
  outline-width: 1px;
  outline-style: solid;
}
.primary-link:hover,
.primary-link:focus-visible {
  background-color: white;
  outline-color: var(--primary-link-color);
  color: var(--primary-link-color);
}
.project-category {
  opacity: 0.8;
  font-size: 20px;
  line-height: 24px;
  box-shadow: 1px 1px 10px rgba(157, 157, 157, 0.379);
  border-radius: 10px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-left-style: solid;
  border-right-style: solid;
}
.first-theme {
  border-color: var(--first-neon-color);
  background-color: var(--first-bg-color);
}
.second-theme {
  border-color: var(--second-neon-color);
  background-color: var(--second-bg-color);
}
.third-theme {
  border-color: var(--third-neon-color);
  background-color: var(--third-bg-color);
}
.first-color-group a:hover,
.first-color-group a:focus-visible,
.work .first-color-group a:hover,
.work .first-color-group a:focus-visible {
  color: var(--first-neon-color);
}
.second-color-group a:hover,
.second-color-group a:focus-visible,
.work .second-color-group a:hover,
.work .second-color-group a:focus-visible {
  color: var(--second-neon-color);
}
.third-color-group a:hover,
.third-color-group a:focus-visible,
.work .third-color-group a:hover,
.work .third-color-group a:focus-visible {
  color: var(--third-neon-color);
}
.first-img-wrapper {
  background-color: var(--first-bg-color);
}
.second-img-wrapper {
  background-color: var(--second-bg-color);
}
.third-img-wrapper {
  background-color: var(--third-bg-color);
}
.sm-links {
  padding: 6px;
  font-size: 14px;
  margin: 0 auto;
  width: fit-content;
}
.icon-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: var(--common-transition);
}
.social-icons {
  display: block;
  line-height: 100px;
  font-size: 40px;
  color: #000000;
}
footer .icon-wrapper {
  width: 40px;
  height: 40px;
  margin: 30px;
  text-align: center;
}
footer .social-icons {
  line-height: 40px;
  font-size: 18px;
  transition: var(--common-transition);
}
footer .icon-wrapper:hover {
  transform: rotateZ(90deg) scale(1.2);
}
footer .icon-wrapper:hover > .social-icons {
  transform: rotateZ(-90deg);
}
footer .first-img-wrapper .social-icons:hover,
footer .first-img-wrapper .social-icons:focus-visible {
  color: var(--first-neon-color);
}
footer .second-img-wrapper .social-icons:hover,
footer .second-img-wrapper .social-icons:focus-visible {
  color: var(--second-neon-color);
}
footer .third-img-wrapper .social-icons:hover,
footer .third-img-wrapper .social-icons:focus-visible {
  color: var(--third-neon-color);
}
footer .contact-me-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 30px 80px;
}
.footer .primary-link {
  margin-top: 12px;
}
.buttons-container a:first-child {
  margin-right: 25px;
}

#floating-tab-wrapper {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.917));
  transition: all ease-in-out 1000ms;
}
#floating-tab-wrapper.active {
  visibility: visible;
  bottom: 0;
}
.floating-tab-content,
.floating-tab-content p {
  border-radius: 8px;
  padding: 2px;
}
.floating-tab-content,
#close-tab-button {
  box-shadow: 0 0 9px white;
}
.floating-tab-content {
  text-align: right;
  padding: 10px;
  border: 1px solid var(--primary-link-color);
  background-color: var(--primary-bg-color);
}
.floating-tab-content p {
  text-align: center;
  width: 100%;
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: var(--primary-link-color);
  border-left: 10px solid;
  border-right: 10px solid;
}
#close-tab-button {
  color: var(--primary-link-color);
  background-color: white;
  border: 1px solid var(--primary-link-color);
  border-radius: 5px;
}
.floating-tab-content ul {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.floating-tab-content li {
  padding: 0;
  list-style: none;
}
.floating-tab-content a {
  padding: 10px;
}

footer p {
  font-size: 14px;
}
footer p a {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  text-decoration: none;
  font-weight: 600;
  transition: all ease-in-out 250ms;
}
footer p a:hover,
footer p a:focus-visible {
  color: var(--primary-link-color);
}
.fa-briefcase,
.fa-heart {
  font-size: 16px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.homepage .top-section,
.contact .top-section {
  background-color: var(--primary-bg-color);
}
.homepage .top-section h2 {
  font-weight: 400;
}
.homepage .primary-link:hover,
.homepage .primary-link:focus-visible {
  text-shadow: var(--text-shadow);
}
.grid-title {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.7;
  font-style: italic;
}
.projects {
  box-shadow: var(--box-shadow);
}
.projects .project-category {
  margin-left: -20px;
  margin-right: -20px;
}
img {
  display: block;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.project-description {
  text-align: left;
  padding: 80px 0 80px 15px;
}
.project-description p {
  font-size: 18px;
  color: #4d5154;
}
summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: "+";
  margin-right: 10px;
  font-size: 18px;
  border-radius: 50%;
  padding: 0 7px;
  text-shadow: var(--gray-text-shadow);
  box-shadow: var(--box-shadow);
}
.work details summary::before,
.about details summary::before {
  outline: 2px solid var(--primary-link-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.577);
}
.third-color-group details summary::before,
.third-color-group.projects a {
  text-shadow: var(--white-text-shadow);
}
details[open] summary::before {
  content: "-";
  padding: 0 8px;
}
details {
  width: fit-content;
  text-align: left;
}
details ul {
  margin-top: 8px;
}
.projects a {
  text-shadow: var(--gray-text-shadow);
}
.projects a:hover,
.projects a:focus-visible {
  text-shadow: var(--text-shadow);
}
.projects .color-tab {
  transition: var(--common-transition);
}
.projects .right-color-tab {
  border-right-style: solid;
  border-right-width: 35px;
}
.projects .left-color-tab {
  border-left-style: solid;
  border-left-width: 35px;
}
.projects:hover > .color-tab,
.projects:focus-visible > .color-tab {
  padding: 0 12px;
}

.homepage .first-color-group details summary::before,
.homepage .first-color-group a {
  background-color: var(--first-neon-color);
}
.homepage .first-color-group a:hover,
.homepage .first-color-group a:focus-visible {
  outline-color: var(--first-neon-color);
  background-color: var(--first-bg-color);
}
.first-color-group .color-tab {
  border-color: var(--first-neon-color);
}
.homepage .second-color-group details summary::before,
.homepage .second-color-group a {
  background-color: var(--second-neon-color);
}
.homepage .second-color-group a:hover,
.homepage .second-color-group a:focus-visible {
  background-color: var(--second-bg-color);
  outline-color: var(--second-neon-color);
}
.second-color-group .color-tab {
  border-color: var(--second-neon-color);
}
.homepage .third-color-group details summary::before,
.homepage .third-color-group a {
  background-color: var(--third-neon-color);
}
.homepage .third-color-group a:hover,
.homepage .third-color-group a:focus-visible {
  background-color: var(--third-bg-color);
  outline-color: var(--third-neon-color);
}
.third-color-group .color-tab {
  border-color: var(--third-neon-color);
}
.grid-footer a {
  text-decoration: none;
  color: var(--highlight-text);
  font-weight: 600;
  transition: all ease-in-out 200ms;
}
.grid-footer a:hover,
.grid-footer a:focus-visible {
  text-shadow: var(--text-shadow);
}
.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}

.about {
  background: linear-gradient(to top, #fdcbf18c 0%, #fdcbf181 1%, #e6dee9 100%);
  background-size: 100%;
}
.about main {
  font-size: 15px;
}
.about img {
  float: right;
  max-width: 350px;
  min-width: 150px;
  width: 30%;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin: 0 0 10px 10px;
}
.about details ul {
  background-color: var(--first-bg-color);
  padding: 5px 20px;
  padding-inline-start: 30px;
  border-radius: 10px;
  border-left: 10px solid var(--primary-bg-color);
  box-shadow: var(--box-shadow);
  margin-bottom: 25px;
}
.about details.professional ul {
  margin-bottom: 35px;
}
.about details small {
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  width: fit-content;
  padding: 2px 10px;
  margin-inline-start: 5px;
  border-left: 3px solid var(--primary-link-color);
  border-right: 3px solid var(--primary-link-color);
}

.work img,
.work .project-category {
  width: 90%;
  max-width: 400px;
}
.work .img-wrapper {
  transition: var(--common-transition);
}
.work .img-wrapper:hover,
.work .img-wrapper:focus-visible {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}
.work details {
  font-size: 14px;
}
.work .content,
.work .content h2 a {
  color: #434343;
}
.work .content h2 a {
  transition: all ease-in-out 200ms;
}
.work .content h2 a:hover,
.work .content h2 a:focus-visible {
  text-shadow: var(--text-shadow);
}
.work details[open] {
  margin-left: 0 !important;
}

.contact main {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.contact h2 {
  font-size: 20px;
  line-height: 24px;
}
.contact main a {
  color: #000000;
}
.contact .icon-wrapper {
  transform: rotateZ(-45deg);
  transition: all ease-in-out 900ms;
}
.contact .social-icons {
  transform: rotateZ(45deg);
  transition: all ease-in-out 1500ms;
}
.contact .icon-wrapper:hover {
  transform: rotateZ(360deg);
}
.contact .first-img-wrapper.icon-wrapper:hover {
  margin-top: 20px;
}
.contact .icon-wrapper:hover > .social-icons {
  transform: none;
}
.text-link {
  transition: all ease-in-out 500ms;
}
.text-link:hover,
.text-link:focus-visible {
  text-shadow: var(--text-shadow);
  padding: 3px;
  outline-width: 1px;
  outline-style: solid;
}
.first-link:hover,
.first-link:focus-visible,
.form-link:focus-visible {
  color: var(--first-neon-color);
  outline-color: var(--first-neon-color);
}
.second-link:hover,
.second-link:focus-visible {
  color: var(--second-neon-color);
  outline-color: var(--second-neon-color);
}
.third-link:hover,
.third-link:focus-visible {
  color: var(--third-neon-color);
  outline-color: var(--third-neon-color);
}
.contact-form {
  background-color: var(--primary-bg-color);
  padding: 40px 25px;
  margin: 30px auto;
  max-width: 950px;
}
.contact-form form,
.contact-form .post-submit-section {
  border: 1px solid white;
  box-shadow: 1px 1px 10px white;
}
.contact-form .post-submit-section {
  font-weight: 500;
  line-height: 19px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-control {
  font-size: 15px;
  caret-color: var(--primary-link-color);
}
.form-control:focus {
  box-shadow: 1px 1px 15px white;
  border-color: var(--primary-link-color);
}
.contact-form span {
  color: var(--primary-link-color);
}
.contact-form textarea::-webkit-resizer {
  border-width: 8px;
  border-style: double;
  border-color: transparent var(--primary-link-color) var(--primary-link-color)
    transparent;
}
.form-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact-form .primary-link {
  transition: all ease-in-out 400ms;
  width: 85px;
}

@media (max-width: 1400px) {
  .main-container {
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  .main-container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .work .buttons-container {
    display: flex;
    flex-direction: column;
  }
  .work .buttons-container a:first-child {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1050px) {
  footer .contact-me-box {
    padding: 30px;
  }

  .homepage img {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .top-section {
    padding: 160px 20px;
  }
  .above-heading {
    font-size: 36px;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 24px;
  }
  footer h2 {
    font-size: 42px;
  }
  footer .primary-link {
    padding: 20px 40px;
  }

  .homepage h1 {
    font-size: 80px;
  }
  .homepage img {
    max-width: 400px;
    min-width: 150px;
  }
  .project-description h5 {
    font-size: 50px;
  }
  .projects .right-color-tab {
    padding-right: 32px;
  }
  .projects .left-color-tab {
    padding-left: 32px;
  }
  .projects:hover > .color-tab,
  .projects:focus-visible > .color-tab {
    border-width: 55px;
  }

  .about .above-heading {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .top-section {
    padding: 120px 20px 80px;
  }
  .above-heading {
    font-size: 22px;
  }
  h1 {
    font-size: 50px;
  }
  .content h2 {
    font-size: 18px;
  }
  .footer h2 {
    font-size: 38px;
  }

  .homepage .above-heading {
    font-size: 28px;
  }
  .homepage h1 {
    font-size: 65px;
  }
  .homepage .top-section h2 {
    font-size: 20px;
  }
  .project-description {
    padding: 50px 0 50px 12px;
  }
  .project-description h5 {
    text-align: center;
    font-size: 48px;
  }
  .projects .right-color-tab {
    padding-right: 22px;
  }
  .projects .left-color-tab {
    padding-left: 22px;
  }
  .projects:hover > .color-tab,
  .projects:focus-visible > .color-tab {
    border-width: 45px;
    padding: 0 12px;
  }

  .work main p {
    font-size: 14px;
  }
}

@media (min-width: 801px) {
  .about details.technical {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .logo-border {
    transform: scale(0.8);
  }
  .logo-border:hover {
    transform: scale(0.9) rotateZ(180deg);
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    visibility: hidden;
    transition-delay: 0ms;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all ease-in-out 800ms;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: all ease-in-out 800ms;
  }
  .hamburger .bar:nth-child(2) {
    visibility: visible;
    transition-delay: 550ms;
  }
  .hamburger .bar:nth-child(1) {
    transform: translateY(0) rotate(180deg);
    transition: all ease-in-out 700ms;
  }
  .hamburger .bar:nth-child(3) {
    transform: translateY(0) rotate(-180deg);
    transition: all ease-in-out 700ms;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    text-align: center;
    width: 100%;
    top: 74px;
    margin: -0.6px 0 0;
    border-top: 1px solid #ffd8f0;
    left: -100%;
    background-color: var(--secondary-bg-color);
    transition: all ease-in-out 1000ms;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    font-size: 14px;
  }
  .nav-item.last {
    padding-right: 30px;
  }

  .about .heading {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .about img {
    border-radius: 50%;
  }

  footer .contact-me-box {
    flex-direction: column;
    text-align: center;
  }
  .links {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  footer span {
    font-size: 0.9rem;
  }

  .about .top-section {
    padding-right: 0;
    padding-left: 0;
  }

  .contact-form input,
  .contact-form textarea {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 647px) {
  .about details.technical {
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
  }
  .buttons-container a:first-child {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

@media (max-width: 510px) {
  .navigation-bar {
    padding: 0 20px !important;
  }

  .homepage h1 {
    font-size: 55px;
  }
  .project-description {
    padding: 40px 0;
  }
  .project-description h5 {
    font-size: 38px;
  }
  .project-description p {
    font-size: 16px;
  }
  .sm-links {
    display: block;
  }
  .projects details .content-wrapper {
    position: absolute;
    border-style: solid;
    z-index: 100;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    left: 10px;
    right: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.482);
    text-align: left;
    padding-inline-end: 20px;
  }
  .first-color-group details .content-wrapper {
    border-color: var(--first-neon-color);
    background-color: var(--first-bg-color);
  }
  .second-color-group details .content-wrapper {
    border-color: var(--second-neon-color);
    background-color: var(--second-bg-color);
  }
  .third-color-group details .content-wrapper {
    border-width: 2px;
    border-color: var(--third-neon-color);
    background-color: var(--third-bg-color);
  }
  .projects .color-tab {
    border-width: 20px;
  }
  .projects .right-color-tab {
    padding-right: 27px;
  }
  .projects .left-color-tab {
    padding-left: 27px;
  }
  .projects:hover > .color-tab,
  .projects:focus-visible > .color-tab {
    border-width: 35px;
  }

  .about .heading {
    text-align: center;
    flex-direction: column-reverse;
  }
  .about img {
    margin: 15px auto 0;
  }
  .about main .links {
    display: block;
    margin: auto;
    max-width: fit-content;
  }
  .view-projects-links {
    flex-direction: column;
  }

  .contact .captcha-check {
    overflow-x: scroll;
  }

  footer .contact-me-box {
    padding: 30px;
  }

  .form-buttons-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 467px) {
  footer .icon-wrapper {
    margin: 30px 0 30px 0;
  }
  footer .icons-container {
    justify-content: space-around !important;
  }
}

@media (max-width: 360px) {
  h1,
  .homepage h1 {
    font-size: 44px;
  }

  footer .icons-container {
    justify-content: space-between !important;
  }

  .h-captcha {
    transform: scale(0.8);
  }
}
